body{
    margin: 0;
    text-align: center;
    background-color: lightblue;
    color: #0c76d9;
}

nav.navbar{
    background-color: #5669c0;

}

ul.navbar-nav {
    height: 50px;

}


a.nav-link:hover {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #85beeb;
    color:white;
}

a.nav-link {
    margin-top: auto;
    margin-bottom: auto;
    transition: background-color 1.5s;
    font-family: Georgia;
    font-size: 20px;
    color: white;
}
